/* .App {
  text-align: center;
} */

body{
  background-color: beige;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 11rem;
  height: 2rem;
}